@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
    background: rgb(53, 53, 61);
}

main {
    width: 25%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 0 auto;
    margin-top: 120px;
    border: 3px solid rgb(63, 60, 60);
    background: rgba(37, 30, 30, 0.788);
}

.h1 {
    width: 15px;
    height: 10px;
    margin: 5px auto;
    padding: flex;
}

.h3 {
    width: 300px;
    height: 15px;
    margin: 5px 5px;
    padding: flex;
}

.h5{
    display: flex;
    padding: flex;
    margin:bottom;
    padding-left: 80px;
    padding-bottom: 5px;
}


img {
    width: 80%;
    flex-direction: column;
    border: 1px 1px 1px 1px;
    box-sizing: 1px 1px 1px 1px;
    border-radius: 1rem 1rem 1rem 1rem ;
}

.a{
    padding: 2rem auto;
    width: 15%;
    flex-direction: column;
    border-radius: 25rem 25rem 25rem 25rem ; 
    display: flex;
}

.b{
    width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px  rgb(31, 150, 61);
    padding: 10px auto;
}

.audio-container {
    max-width: 400px;
    /*margin: 0 auto;*/
    padding: 20px;
}

.audio-player {
    width: 100%;
}

/*Mudar o fundo do audio*/

audio::-webkit-media-controls-panel {
    background-color: rgb(44, 42, 42);
    -webkit-text-fill-color: rgb(41, 20, 20);
    
    background: rgb(68, 48, 48);    
}
/*
audio::-webkit-media-controls-play-button {
    
    filter: invert(100%) hue-rotate(180deg);
}

audio::-webkit-media-controls-timeline{
    background-color: rgb(68, 61, 61);
    filter: invert(0%) hue-rotate(180deg) ;  
}

audio::-webkit-media-controls-current-time-display{
    filter: invert(0%) hue-rotate(180deg);
    background-color: rgb(112, 72, 72);
}
audio::-webkit-media-controls-volume-slider::-webkit-slider-thumb{
    filter: invert(0%) hue-rotate(180deg) ;
    color: rgb(192, 192, 192);
}
audio::-webkit-media-controls-volume-slider{
    filter: invert(0%) hue-rotate(180deg);
}*/