@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
    background: rgb(25, 25, 117);
}

main {
    width: 25%;
    height: auto;
    flex-direction: column;
    padding: 5px 15px;
    margin: 0 auto;
    margin-top: 120px;
    border: 3px solid gray;
    background: rgba(37, 30, 30, 0.788);
}

.h1 {
    width: 15px;
    height: 10px;
   
    margin: 5px auto;
    padding: flex;


    /*box-sizing: 10px 15px;
    box-shadow: 15px 10px;*/
}

.h3 {
    width: 300px;
    height: 15px;
    
    margin: px 5px;
    padding: flex;

    /*box-sizing: 10px 15px;
    box-shadow: 15px 10px;*/
}

/*.h1,.h3,.h4,.h5 {
    width: 15vw;
    height: 2vw;
    align-items: left;
    justify-content: left;
    margin: 5px auto;
    box-sizing: 10px 15px;
    box-shadow: 15px 10px;
}*/

img {
    width: 80%;
    padding: 10%;
    flex-direction: column;
    box-sizing: 10px 10px 10px 10px;
    box-shadow: 10px gray;
}